<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

 <div style="text-align: center;">
   
 <h1 mat-dialog-title  *ngIf="!authserviceService.LoginSuccess" >Hi 👋</h1>
<div mat-dialog-content *ngIf="!authserviceService.LoginSuccess">For security concerns, Please Login first</div>
<br>
<div class="formGroup">

    <button type="button" class="GoogleLoginButton" (click)="Loginwithgoogle()" *ngIf="!authserviceService.LoginSuccess">
        <img src="assets/google.ico" alt="" style="margin-right: 3%;vertical-align: middle;">
         Google
    </button>
    <h3 style="text-align: center;color: red;" *ngIf="authserviceService.loginFailed" > ⚡<strong> Oops!  Login Failed !   </strong> ⚡</h3>

    <h3 style="text-align: center;" *ngIf="authserviceService.LoginSuccess"> Welcome !🔥<strong>{{user}}</strong><br> ✅ Succesfully Login Done </h3>
     <br>
     <button *ngIf="authserviceService.LoginSuccess"  mat-button mat-dialog-close style="color: white;background-color: tomato;border: 0px;font-size: 1.6em;border-radius: 5px;" >Close</button>
  

</div>

</div>


</body>
</html>
