<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact</title>
    <script src="https://code.iconify.design/2/2.0.3/iconify.min.js"></script>
</head>
<body style="width: 99%;">
     <br>
   
    

    <img style="width: 65%;margin-left: 19%;border-radius: 10px;opacity: 1;" src="assets/address.jpg" alt="Image not available">
    <br><br>

  

  <div style="width: 80%;text-align: center;margin-left: 11%;background-color: white;border-radius: 40px 400px;"> 
   
    <a href="https://www.instagram.com/praveenpintu07/"> <svg style="color: rgb(240, 56, 86);font-size:45px" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" aria-hidden="true" role="img" width="1em" height="1em" preserveAspectRatio="xMidYMid meet" viewBox="0 0 24 24"><path d="M7.8 2h8.4C19.4 2 22 4.6 22 7.8v8.4a5.8 5.8 0 0 1-5.8 5.8H7.8C4.6 22 2 19.4 2 16.2V7.8A5.8 5.8 0 0 1 7.8 2m-.2 2A3.6 3.6 0 0 0 4 7.6v8.8C4 18.39 5.61 20 7.6 20h8.8a3.6 3.6 0 0 0 3.6-3.6V7.6C20 5.61 18.39 4 16.4 4H7.6m9.65 1.5a1.25 1.25 0 0 1 1.25 1.25A1.25 1.25 0 0 1 17.25 8A1.25 1.25 0 0 1 16 6.75a1.25 1.25 0 0 1 1.25-1.25M12 7a5 5 0 0 1 5 5a5 5 0 0 1-5 5a5 5 0 0 1-5-5a5 5 0 0 1 5-5m0 2a3 3 0 0 0-3 3a3 3 0 0 0 3 3a3 3 0 0 0 3-3a3 3 0 0 0-3-3z" fill="currentColor"/></svg>
    </a>
     
    <a href = "mailto:praveenpintu028@gmail.com?Subject=Just saw your blog!&body=Hi Praveen  " style="margin-left: 10%;">
        <mat-icon aria-hidden="false" aria-label="Example home icon" style="color: red;">mail_outline</mat-icon>    
    </a>
    
    <a href="https://wa.me/918686474478/?text=Hey!! Praveen" style="margin-left: 13%;">
        <mat-icon aria-hidden="false" aria-label="Example home icon" style="color: green;">whatsapp</mat-icon>    
    </a>
     
    
        <button style="margin-left: 13%;;background-color: transparent;border: 0px;" (click)="fbbox()"> <mat-icon aria-hidden="false" aria-label="Example home icon" color="primary">facebook</mat-icon>
        </button> &nbsp;&nbsp;&nbsp;&nbsp;
       
      
      
 
 <div>
 <span  style="background-color: white;text-align: center;" id="fbmsg"> <strong >&nbsp;&nbsp; Hey! I don't use Fb.&nbsp;&nbsp; </strong> </span>
</div>

 
</div>


<br><br>
<footer>
    <p style="color: thistle;margin-top: 30%;font-size: 8px;text-align: center;">* Few Images are taken from internet @credit to creators</p>
</footer>
</body>
</html>
