<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script>
        var vol=document.getElementById("song")
        vol.volume=0.8
    </script>
</head>
<body style="background-color: transparent;color: green;">
    <br>
  <!--   <div id="emoji" style="color: transparent;text-shadow: 0 0 0 white;margin-left: 1%;white-space: nowrap;">💗💗💗💗💗💗💗💗💗💗💗💗💗💗💗💗💗💗💗💗💗💗💗💗💗💗💗💗💗💗💗💗💗💗💗💗💗💗💗</div> <br>-->

    <div style="margin-left: 5px;">
        <span typingAnimation [typeSpeed]="10" [condition]="start" [startDelay]="1000"  >
            C:\Users\praveen> ...........................Compiling....................
       </span> <br>
       <span typingAnimation [typeSpeed]="10" [condition]="start" [startDelay]="2000" (complete)="onTypingAnimationComplete1()" >
        C:\Users\praveen> Fetching Your Meta Info..............Loading.......
   </span> <br>
  
       <span typingAnimation [typeSpeed]="10" [condition]="first" [startDelay]="1000" (complete)="onTypingAnimationComplete2()">
       {{firstLine}} 
      </span> <a id="link" style="display: none;text-decoration: none;" href="{{LoginUserData.photoURL}}" target="_blank"><b style="color: orange; ">Click here </b></a> 
        <span typingAnimation [typeSpeed]="10" [condition]="second" [startDelay]="1000" (complete)="onTypingAnimationComplete3()">
            {{secondLine}} 
        </span><br>
        <span typingAnimation [typeSpeed]="20" [condition]="third" [startDelay]="1000">
         {{thirdLine}}
        </span><br> <br> 
       

       <!--  <div id="emoji1" style="color: transparent;text-shadow: 0 0 0 green;margin-left: 0.5%;display: none;white-space: nowrap;">💗💗💗💗💗💗💗💗💗💗💗💗💗💗💗💗💗💗💗💗💗💗💗💗💗💗</div> <br>  -->


    </div>
    
</body>
</html>
