<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-6259490101466578"
     crossorigin="anonymous"></script>
  <title> Praveen</title>
</head>
<body>
 <mat-tab-group [selectedIndex]="1">

  <mat-tab >
    <ng-template mat-tab-label >
      <mat-icon  >home</mat-icon>Home
    </ng-template>
    <app-home> </app-home>
  </mat-tab>

  <mat-tab>
    <ng-template mat-tab-label>
     My Bio
    </ng-template>
    <app-bio>  </app-bio>
  </mat-tab>

  
  <mat-tab>
    <ng-template mat-tab-label >
      ☎️ Contact
    </ng-template>
    <app-contact> </app-contact>
  </mat-tab>



<mat-tab disabled style="position:relative">
  <ng-template mat-tab-label >
    <div style="margin-right: -60%;overflow: hidden;" *ngIf="authserviceService.LoginSuccess" >
      <button   mat-raised-button color="primary" (click)="logout(logoutform)">Logout &nbsp; <mat-icon >logout</mat-icon></button>
    </div>
  </ng-template>
</mat-tab>


</mat-tab-group>

<ng-template #logoutform>
  <h1 mat-dialog-title> </h1>
<div mat-dialog-content style="text-align: center;color: black;font-size: 0.9rem;"> <b> Logout Done ! </b></div> <br>
<div mat-dialog-content class="a" >  <h3> <b> ❤️ Have a nice day ❤️ </b> </h3>  </div> <br>
<div mat-dialog-content style="text-align: center;">   <button  (click)="closeButton()"  mat-raised-button color="primary"  style="text-align: center;font-size: 0.6rem;"> Close </button> 
</div>
  <h1></h1>
</ng-template>

</body>

<router-outlet></router-outlet>
</html>
