<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-6259490101466578"
     crossorigin="anonymous"></script>
  <title> Praveen</title>
</head>
<body>
 <mat-tab-group [selectedIndex]="0">

  <mat-tab >
    <ng-template mat-tab-label >
      <mat-icon  >home</mat-icon>Home
    </ng-template>
    <app-home> </app-home>
  </mat-tab>

  <mat-tab>
    <ng-template mat-tab-label>
     My Bio
    </ng-template>
    <app-bio>  </app-bio>
  </mat-tab>

  
  <mat-tab>
    <ng-template mat-tab-label >
      ☎️ Contact
    </ng-template>
    <app-contact> </app-contact>
  </mat-tab>



</mat-tab-group>



</body>

<router-outlet></router-outlet>
</html>