

/* Styles for tab labels */
.mat-tab{position: fixed;}
.mat-tab-header {
  position: fixed;
}
.mat-tab-label {
   
   
    position: fixed;
    background-color: transparent;
    color: black;
    font-weight: 800;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/* Styles for the active tab label */
.mat-tab-label.mat-tab-label-active {
   width: 30%; 
    background-color: transparent;
   color: #1A73E8;
    font-weight: 700;
   
}

img {
  image-rendering: pixelated;
}
  
  

  body{background-color: white;}