



 #button1{ animation: example 4s linear infinite;
 }

.mat-card-subtitle {color: black;}

.buttonForResume{font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;}

body{color: black;margin: 0;min-height: 94vh;}
.boximage{border-radius: 5%;width: 80%;}

/* Create two equal columns that floats next to each other */
.column {
    float: left;
    width: 48%;
    padding: 10px;
   
  }
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  * {
    box-sizing: border-box;
  }

  @keyframes example {
    0%   {background-color:red; color: white;}
    25%  {background-color:yellow; }
    50%  {background-color:blue; color: white;}
    75%  {background-color:green; }
    100% {background-color:red; color: white;}
  }