/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.no-padding .mat-dialog-container {
    padding: 2px !important;
    background: black;
    margin-top: -10%;
    margin-left: 2%;
}

.no-scrolls .mat-dialog-container {
    overflow: hidden !important;
    background: black;
    margin-top: -10%;
    margin-left: 2%;

}
.no-scroll .mat-dialog-container {
    overflow: hidden !important;
    background: #ffb7f1;
    margin-top: -10%;
    margin-left: 2%;

}
