<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>
  
  
    <mat-card class="example-card" *ngFor="let c of homeFeed" >
        <mat-card-header style="margin-left: 10%;" >
          <div mat-card-avatar class="example-header-image" style="height: 50px;width: 50px;"></div>
          <mat-card-title> Nallatigala Praveen <img width="27px" src="assets/tick_icon.ico" alt=""> </mat-card-title>
          <mat-card-subtitle><div style="display: inline;font-size: 7px;vertical-align: middle;"> 🟢</div> warangal</mat-card-subtitle>
        </mat-card-header>
    <img style="width: 80%;margin-left: 10%;border-radius: 10px;" mat-card-image src={{c.a}} alt="Image Not Available"> 
 
   

    
        <mat-card-content style="background-color: #eee; text-align: center;border-radius:1px 20px;border: 1px solid black;margin-top: -15px;">
          <h4 style="width: 95%;margin-left: 2%;"> &#10077; {{c.b}} &#10078; ~ <strong>Unknown  </strong>  </h4>
        </mat-card-content>
      
    
      </mat-card>
     
      <div class="scroll-to-top" [ngClass]="{'show-scrollTop': windowScrolled}">
        <button type="button" class="btn " data-toggle="button" aria-pressed="true" (click)="scrollToTop()">
            <mat-icon style="color: white;font-size: 30px;"> arrow_upwards</mat-icon>&nbsp;&nbsp;
        </button>
      </div>

    

</body>
</html>
