.example-header-image {
    background-image: url('src/assets/selfie_image.jpg');
    background-size: cover;
  }

  img {
    image-rendering: pixelated;
  }
  .scroll-to-top {
    position: fixed;
    bottom: 15px;
    right: 15px;
    opacity: 0;
    transition: all .2s ease-in-out;
   }
   .show-scrollTop {
    opacity: 1;
    transition: all .2s ease-in-out;
   }

   .btn{background-color: #FF0000;border:0px;border-radius: 30%;width: 130%;height: 30px;}
   .imgButton{
    background-color: transparent;
  }