<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body style="overflow: auto;" >
    <div style="overflow: auto;">
 <h3  style="text-align: center;"> <strong>My Resume</strong>   <button mat-button mat-dialog-close style=" border: 0px; border-radius: 50%;float: right;color: white;background-color: red;font-size: 1.3em;">&times;</button>
 </h3>
        <img style="width: 100%;overflow: auto;" src="assets/myresume.png" alt="Resume Not Available">
        <br>
    </div>

</body>
</html>

